@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
$theme-light: #010101ef;
$theme: #000000;
$theme-pink: #FF00FF;
$theme-purple:#7843E6;
$theme-blue: #00FFFF;

$font-sans:  'Source Sans Pro', sans-serif !important;


* {
  font-family: 'Rubik', sans-serif !important;
  background-color: $theme;
  color: white;
  margin: 0;
}

.navbar {
  background-color: #010101b8;
  background-blend-mode: overlay;
  background-clip: padding-box;
  background-origin: padding-box;
  background-size: cover;
  
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;

  // padding: 0.7rem;
  padding-left: 0rem;
  padding-bottom: 0.5rem;

  &__logo {
    padding-top: 0.3rem;
    width:  2.5rem;
    height: 2.5rem;
    background-color: transparent;
  }

  &__container {
    display: flex;
    justify-content: center;
    background-color: transparent;
  }
}

.home {
  &__heading {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;

    background-image: linear-gradient(to right, $theme-purple, $theme-purple),
      linear-gradient(to right, $theme-purple, $theme-purple);
    background-position: left top, right top;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px $theme-pink;
    -webkit-text-stroke-width: 0.7px;
    animation: flickeringAnimation 3s ease-in-out infinite;
  }

  &__subheading {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  &__description {
    font-size: 1.1rem;
    margin-bottom: 1.6rem;
    font-family: $font-sans;
  }

  &__contact {
    border-radius: 0.5rem;
    border: 0.7px solid $theme-blue;
    padding: 0.5rem;
    font-size: 1.1rem;
    font-weight: 900 !important;
    // margin-bottom: 1.6rem;
    font-family: $font-sans;
    font-style: italic;
    margin-bottom: 0;

    // shadow with 3d effect white shadow
    // shadow only to right and bottom
    box-shadow: 0.2rem 0.2rem 0.1rem 0.1rem $theme-blue;
  }

  &__email {
    font-size: 1.4rem;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 1.6rem;
    color: $theme-purple;
    text-decoration: none;


    &:hover {
      text-decoration: underline;
    }
  }
}

.container {
  margin-top: 3.3rem;
  background-color: $theme-light;
  height: "100vh";
}

// flickering light bulb text
@keyframes flickeringAnimation {
  0% {
    -webkit-text-fill-color: transparent;
  }
  15% {
    -webkit-text-fill-color: $theme-purple;
  }
  30% {
    -webkit-text-fill-color: transparent;
  }
  75% {
    -webkit-text-fill-color: transparent;
  }
  100% {
    -webkit-text-fill-color: $theme-purple;
  }
}


// extra large screen
@media (min-width: 1200px) {
  .container {
    padding-top: 5rem !important;
    padding: 7rem !important;
  }
}

// large screen
@media (min-width: 992px) {
  .container {
    padding-top: 6rem !important;
    padding: 9rem;
  }
  .home {
    &__description {
      max-width: 50rem;
    }
  }
}

// small screen
@media (min-width: 768px) {
  .container {
    padding-top: 1.5rem !important;
    padding: 2rem;
  }
}

// extra small screen
@media (max-width: 767px) {
  .container {
    padding: 1.7rem;
    padding-top: 1rem;
  }
}